@model Fitments_2.Models.Home.HomeIndexViewModel
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Home Page";
}

@*@if (Session["UserID"] != null)
{
    <div style="display:block;">
        Welcome :<a href="#">@Session["UserName"]</a><br />
        <a href="/Home/Index">Logout</a>
    </div>
}
else
{
    <h4>Please Login for more functionalities.</h4>
}*@


<div id="themeSlider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#themeSlider" data-slide-to="0" class="active"></li>
        <li data-target="#themeSlider" data-slide-to="1"></li>
        <li data-target="#themeSlider" data-slide-to="2"></li>
        <li data-target="#themeSlider" data-slide-to="3"></li>
        <li data-target="#themeSlider" data-slide-to="4"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item active">
            <div class="imgOverlay"></div>
            <img style="height:820px; width:100%;" src="../Images/slider1.jpg" alt="First slide">
            <div class="carousel-caption">
                <h3>Living Room Furniture</h3>
                <!--<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>-->
            </div>
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img style="height:820px; width:100%;" src="../Images/slider2.jpg" alt="Second slide">
            <div class="carousel-caption">
                <h3>Bed Room Furniture</h3>
                <!--<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>-->
            </div>
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img style="height:820px; width:100%;" src="../Images/slider3.jpg" alt="Third slide">
            <div class="carousel-caption">
                <h3>Dining Room Furniture</h3>
                <!--<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>-->
            </div>
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img style="height:820px; width:100%;" src="../Images/slider4.jpg" alt="Forth slide">
            <div class="carousel-caption">
                <h3>Study Room Furniture</h3>
                <!--<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>-->
            </div>
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img style="height:820px; width:100%;" src="../Images/slider5.jpg" alt="Fifth slide">
            <div class="carousel-caption">
                <h3>Mattresses</h3>
                <!--<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>-->
            </div>
        </div>
    </div>

    <a class="left carousel-control" href="#themeSlider" data-slide="prev">
        <span class="fa fa-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#themeSlider" data-slide="next">
        <span class="fa fa-chevron-right"></span>
    </a>
</div>
<!--      Search Icon     -->
<form method="post">
    <div class="search-box">
        <input type="text" class="search-txt" placeholder="Type to Search" name="search">
        <a class="search-btn" href=#>
            <i class="fa fa-search"></i>
        </a>
    </div>
</form>

<!---- Content     -->
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Our Producrs <small>trends products</small></h2>
        </div>
    </div>
</div>

<div class="row product-container">
    @foreach (var item in Model.ListOfProducts)
    {
        <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">
            <div class="thumbnail product-item" style="height:300px">

                <img class="img-responsive" title="Click to View Product detail"
                     style="cursor:pointer;height:160px;width:100%"
                     src="~/ProductImg/@item.ProductImage" />

                <div class="caption">
                    <h5>@item.ProductName</h5>
                    <p>@item.Price Rs.</p>
                    
                        @if (item.Quantity > 0)
                        {
                            using (Html.BeginForm("AddToCart", "Home", new { productId = item.ProductId, url = "Index" }, FormMethod.Post))
                            {
                                <button type="submit" class="pull-right"><i class="fa fa-shopping-cart"></i></button>
                            }
                        <p>Available</p>
                    }
                    else
                    {
                        <p>Not Available</p>
                    }
                       
                        <div class="product-item-badge">
                            @if (item.IsFeatured == true)
                            {
                                <p>New</p>

                            }
                            else
                            {
                                <p>Old</p>
                            }
                        </div>
                    </div>
            </div>
        </div>
    }
</div>
<div class="container">
    @Html.PagedListPager(Model.ListOfProducts, page => Url.Action("Index", new { page, search = Request.QueryString["search"] }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayItemSliceAndTotal = true })
</div>
