@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    
        <div style="text-align:center;background-color:orange;font-size:45px">
            <b> Fitments Furniture Shop</b>
        </div>
        <div>
            <pre>
                Hi Sir/Madam
                    We just need to verify your Email address for complete your Registration !
                    Click  <a href="@ViewBag.ConfirmationLink">Here</a>

            </pre>
        </div>
    </div>
</body>
</html>
